.postzoom
  %p.meta= post.created_at.strftime("%b %d %Y")
  %h2.title= post.title
  %p.meta
    %small= post.linked_tags
  .entry
    = post.body_html
  %p.meta
    by
    %a{:href => "/author/#{post.author.id}"}=post.author.full_name
  - if post.written_by?(author)
    .edit
      %a{:href => "#{post.url}edit"} edit
